name: Release Pipeline

on:
  push:
    branches: ['main']
    tags:
      - "v*"

jobs:
  generate-matrix:
    name: 'Generate matrix from cabal'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - name: Extract the tested GHC versions
        id: set-matrix
        uses: kleidukos/get-tested@0.1.7.1
        with:
          cabal-file: get-tested.cabal
          ubuntu-version: 'latest'
          macos-version: 'latest'
          version: 0.1.7.0
  build:
    name: ${{ matrix.ghc }} on ${{ matrix.os }}
    needs: generate-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:

      - name: "Install tools"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt install upx-ucl

      - name: Checkout base repo
        uses: actions/checkout@v4

      - name: Set up Haskell
        id: setup-haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: 'latest'

      - name: Configure
        run: |
          ARCHITECTURE=$(uname -m)
          echo "ARCH=$ARCHITECTURE" >> $GITHUB_ENV
          echo "REPORT_NAME=report-${{ matrix.os }}-ghc-$(uname -m).xml" >> $GITHUB_ENV
          echo ${{ env.ARCH }}

      - name: Freeze
        run: cabal freeze --project-file=cabal.release.project

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ hashFiles('**/plan.json') }}
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          restore-keys: ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      - name: Build
        run: cabal build --project-file=cabal.release.project

      - name: Test
        run: |
          cabal test --project-file=cabal.release.project --test-options "--xml=../get-tested/${{ env.REPORT_NAME }}" all

      - name: Upload the test report
        uses: actions/upload-artifact@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          name: ${{ env.REPORT_NAME }}
          path: ${{ env.REPORT_NAME }}

      - name: Install
        run: |
          bin=$(cabal -v0 --project-file=cabal.release.project list-bin get-tested)
          mkdir distribution
          cp ${bin} distribution/get-tested

      - id: version
        run: |
          version=$(./distribution/get-tested --version)
          echo "VERSION=${version}" >> "$GITHUB_ENV"

      - name: Post-process executables
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
            strip distribution/get-tested
            upx -9 distribution/get-tested

      - name: Package the get-tested executable
        run: |
          GETTESTED_EXEC=distribution/get-tested
          ARTIFACT_NAME="get-tested-${{ env.VERSION }}-${{ runner.os }}-${{ env.ARCH }}"
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          ARCHIVE=${ARTIFACT_NAME}.tar.gz
          DIR=$(dirname $GETTESTED_EXEC)
          FILE=$(basename $GETTESTED_EXEC)
          tar -czvf ${ARCHIVE} -C $DIR $FILE

      - name: Upload the get-tested executable
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_NAME }}.tar.gz

  build-alpine:
    env:
      os: alpine-3.20
    name: 9.10.1 on alpine-3.20
    runs-on: ubuntu-latest
    container: 'alpine:3.20'
    needs: generate-matrix
    outputs:
      version: ${{ steps.version.output.version }}
    steps:
      - name: Install extra dependencies
        shell: sh
        run: |
            apk add bash binutils-gold curl \
                curl file g++ gcc git gmp-dev \
                jq libc-dev libffi-dev make \
                musl-dev ncurses-dev perl pkgconfig \
                sudo tar upx xz zlib-dev zlib-static

      - uses: actions/checkout@v4

      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: '9.10.1'
          cabal-version: 'latest'

      - name: Configure
        run: |
          ARCHITECTURE=$(uname -m)
          echo "ARCH=$ARCHITECTURE" >> $GITHUB_ENV
          echo "REPORT_NAME=report-alpine-3.20-ghc-$(uname -m).xml" >> $GITHUB_ENV
          echo ${{ env.ARCH }}

      - name: Freeze
        run: cabal freeze --project-file=cabal.static.project

      - name: Cache
        uses: actions/cache@v4
        with:
          key: $os-ghc-${{ matrix.ghc }}-${{ hashFiles('**/plan.json') }}
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          restore-keys: $os-ghc-${{ matrix.ghc }}-

      - name: Build
        run: cabal build --project-file=cabal.static.project

      - name: Test
        run: |
          cabal test --project-file=cabal.static.project --test-options "--xml=../get-tested/${{ env.REPORT_NAME }}" all

      - name: Upload the test report
        uses: actions/upload-artifact@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          name: ${{ env.REPORT_NAME }}
          path: ${{ env.REPORT_NAME }}

      - name: Install
        run: |
          bin=$(cabal -v0 --project-file=cabal.static.project list-bin get-tested)
          mkdir distribution
          cp ${bin} distribution/get-tested

      - id: version
        run: |
          version=$(./distribution/get-tested --version)
          echo "version=${version}" >> "$GITHUB_OUTPUT"
          echo "VERSION=${version}" >> "$GITHUB_ENV"

      - name: File type
        run: file distribution/get-tested

      - name: Post-process executables
        run: |
            strip distribution/get-tested
            upx -9 distribution/get-tested

      - name: Package the get-tested executable
        run: |
          GETTESTED_EXEC=distribution/get-tested
          ARTIFACT_NAME="get-tested-${{ env.VERSION }}-${{ runner.os }}-static-${{ env.ARCH }}"
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          ARCHIVE=${ARTIFACT_NAME}.tar.gz
          DIR=$(dirname $GETTESTED_EXEC)
          FILE=$(basename $GETTESTED_EXEC)
          tar -czvf ${ARCHIVE} -C $DIR $FILE

      - name: Upload get-tested executable to workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_NAME }}.tar.gz

  collect-test-results:
    name: Collect test results
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: ['build', 'build-alpine']
    steps:
      - name: Install junitparser
        run: |
          pip install junitparser==3.2.0

      - name: Download Test Report
        uses: actions/download-artifact@v4
        with:
          pattern: report-*
          merge-multiple: true

      - name: Merge XML files
        run: |
          junitparser merge --glob *.xml final-report.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: 'final-report.xml'

  release:
    name: Create a GitHub Release with the binary artifacts
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: ['build', 'build-alpine']

    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: get-tested-*
        merge-multiple: true
        path: ./out

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        files: ./out/*
        name: v${{ env.version }}
        fail_on_unmatched_files: true
      env:
        version: ${{ needs.build-alpine.outputs.version }}
