name: Test actions pipeline

on:
  pull_request:
    branches: ['main']

  push:
    branches: ['main']

jobs:
  test-actions:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Extract the tested GHC versions
        id: create-matrix
        uses: ./
        with:
          cabal-file: get-tested.cabal
          ubuntu-version: 'latest'
          macos-version: 'latest'

      - name: Output matrix
        run: |
          jq '.' <<< '${{ steps.create-matrix.outputs.matrix }}'

      - name: Set up without options
        id: setup
        uses: ./setup-get-tested

      - name: Set up with explicit directory
        id: setup-with-directory
        continue-on-error: ${{ matrix.os == 'windows-latest' }}
        uses: ./setup-get-tested
        with:
          directory: "my-bin-dir"

      - name: Output results
        shell: bash
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          echo "${{ steps.setup.outputs.path }}"
          if [[ -x "${{ steps.setup.outputs.path }}" ]]; then
            echo "Is executable"
          else
            echo "Is NOT executable"
            exit 1
          fi

          echo "${{ steps.setup-with-directory.outputs.path }}"
          if [[ -x "${{ steps.setup-with-directory.outputs.path }}" ]]; then
            echo "Is executable"
          else
            echo "Is NOT executable"
            exit 1
          fi
